<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t2ksports.vclibrary"
    android:sharedUserId=".ShengSheng"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC_TRANSACTION_EVENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.t2ksports.vclibrary.MyApplication"
        android:allowBackup="true"
        android:configChanges="locale"
        android:label="启动器"
        android:theme="@android:style/Theme.Material.Light"
        android:usesCleartextTraffic="true" >
        <activity
            android:name="com.t2ksports.vclibrary.StarterActivity"
            android:label="启动器" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.t2ksports.vclibrary.JdService" />

        <activity
            android:name="pres.shengsheng.luatools.LibraryActivity"
            android:label="@string/lib_name" >
        </activity>
        <activity
            android:name="pres.shengsheng.sngui.LibraryActivity"
            android:label="@string/lib_name" >
        </activity>
        <activity
            android:name="pers.shengsheng.addrtools.MainActivity"
            android:label="@string/lib_name" >
        </activity>
    </application>

</manifest>